@page "/bugsnag"

<PageTitle>BugSnag</PageTitle>

<h1>BugSnag</h1>


<button class="btn btn-primary" @onclick="notify">notify BugSnag</button>

@code {
    private void notify()
    {
        
    }
}
